.is-root{
    min-height: calc(100vh - 20px);
}
.is-root > div{
    margin: 5px;
}
.is-flex{
    display: flex;
}
.is-full-width{
    flex-grow: 1;
}

.has-background-gray{
    background-color: slategrey;
}
.has-background-yellow{
    background-color: lightyellow;
}
.has-background-blue{
    background-color: lightblue;
}
.is-histogram{
    position: relative;
    display: inline-block;
}
.is-histogram-item{
    background-color: blue;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    transition: left 1s;
}